<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span>
                {{isAvilable(selectedRooom)}}
                </span><br>
                <span ng-repeat="(key, value) in
                availabltyFilter(selectedRooom.availablty)" >
                {{key}},
                </span>
            </div>
            <div class="col-md-4">
                <google-map
                control="map.control"
                center="map.center"
                draggable="true"
                zoom="map.zoom">
                <marker coords="marker.coords"
                options="marker.options"
                events="marker.events"
                idkey="marker.id"
                control="marker.control"
                >
                </marker>
                </google-map>
            </div>
            <div class="col-md-4">
            <h3>San Francisco, CA</h3>
                <todays-weather
                location="San Francisco, CA"
                custom-size="100"
                use-google-images="true">
                </todays-weather>

            </div>
        </div>
    </div>
</header>
<br>
<div class="clearfix"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table ng-table="tableParams"  class="table">
                <!-- <tbody> -->
                <tr ng-repeat="room in $data"
                    ng-click="handelClick(room)">
                    <td data-title="'Name'"       sortable="'name'">{{room.name}}</td>
                    <td data-title="'Price'"     sortable="'price'">{{room.price}}</td>
                    <td data-title="'Reviews'"   sortable="'reviews'">{{room.reviews}}</td>
                    <td data-title="'User Name'" sortable="'userName'">{{room.userName}}</td>
                </tr>
                <!-- </tbody> -->
            </table>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
        <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
    </div>
</footer>